<h2>Welcome!</h2>
<p>You need to confirm your email address before you can reset your password.</p>
<p>You can do so by following <a href="<%= raw @confirm_url %>">this link</a> or by pasting the link below in your web browser:</p>
<p><%= raw @confirm_url %></p>
