<h2>Show user</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @user.username %>
  </li>

  <%= for wire <- @user.wires do %>
      <tr>
        <td><%= wire.title %></td>
        <td><%= wire.context %></td>
        <td><%= wire.link %></td>
        <td><%= wire.user_id %></td>
      </tr>
  <% end %>

</ul>

<%= if @current_user[:id] == @user.id do %>
<%= link "Edit", to: user_path(@conn, :edit, @user) %>
<%= else %>
<%= link "Back", to: user_path(@conn, :index) %>
<%= end %>