<!DOCTYPE html>
<html lang="en">
  <meta charset="utf-8">
  <title>Elyxel</title>
  <meta name="viewport" content="initial-scale=1" />
  <meta name="author" content="Elyxel">

  <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  <!-- icons -->

  <body class="pad-l-r">
    <header class="structure">
      <nav>
        <ul class="nav">
          <li><%= link "Top", to: wire_path(@conn, :index)%></li>
          <li>Recent</li>
        </ul>
      </nav>

      <nav>
        <ul class="nav">
          <%= if @current_user.role == "admin" do %>
          <li><%= link "Admin", to: admin_path(@conn, :index)%></li>
          <%= end %>
          <li><a href="<%= user_path(@conn, :show, @current_user.id) %>"><%= @current_user.username %></a></li>
          <li><%= link "Logout", to: logout_path(@conn, :logout), method: :delete %></li>
        </ul>
      </nav>
    </header>

    <main class="structure">
      <%= render @view_module, @view_template, assigns %>
    </main>

    <footer class="structure">
      <%= render Elyxel.LayoutView, "footer.html" %>
    </footer>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <script>require("web/static/js/app")</script>
  </body>
</html>
