<!DOCTYPE html>
<html lang="en">
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1" />
  <meta name="author" content="Elyxel">

  <title>Elyxel</title>
  <link rel="stylesheet" href="<%= static_path(@conn, "/css/home.css") %>">
  <body>
    <%= render @view_module, @view_template, assigns %>
  </body>
</html>
