/*
 * Layout
 * ======
 *
 */

.structure {
	max-width: 36rem;
	margin: 0 auto;
}

article {
	padding: calc( var(--baseline) / 2) 0;
	border-bottom: 1px solid var(--smoke-color);
}

article:first-child {
	border-top: 1px solid var(--smoke-color);
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-top: 2px solid var(--midnight-color);
}