/*
 * Base Styles
 * ===========
 *
 * Base CSS styles for common HTML elements
 *
 */

html {
  font-size: 112.5%;
  line-height: 1.7778;
  font-family: var(--system-fonts);
  color: var(--text-color);
  background-color: #fff;

  -webkit-font-smoothing: antialiased;
}

  @media (max-width: 40rem) {
    html {
      font-size: 100%;
    }
  }

  @media (max-width: 30rem) {
    html {
      font-size: 87.5%;
    }
  }
