/*
 * Base Styles
 * ===========
 *
 */

html {
  font-size: 81.3%;
  line-height: var(--baseline);
  font-family: var(--system-fonts);
  color: var(--text-color);
  background-color: #fff;

  -webkit-text-size-adjust: 100%;
}

@media (max-width: 40rem) {
}

@media (max-width: 30rem) {
}
