/*
 * Layout
 * ======
 *
 */

.structure {
	max-width: 36rem;
	margin: 0 auto;
}

.grid {
	display: flex;
	flex-flow: row wrap;
	width: 100%;
	margin: 0 auto;
}

.grid > * {
	flex-basis: 10em;
	flex-grow: 1;
 	align-items: center;
}

article + article {
	border-top: 1px solid var(--smoke-color);
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-top: 2px solid var(--midnight-color);
}