/*
 * Utilities
 * =========
 *
 */

.pad {
	padding: var(--baseline);
}

.pad-l-r {
  padding: 0 var(--baseline);
}

.pad-b {
	padding-bottom: var(--baseline);
}

.pad-tb {
  padding: var(--baseline) 0;
}
