/*
 * Variables
 * =========
 */

:root {
  --text-color: #434648;
  --slate-color: #949494;
  --smoke-color: #D8DEE3;
  --midnight-color: #0D2434;
  --white-color: #FFFFFF;
  --salmon-color: #EA4C50;

  --baseline: 1.5rem;
  --system-fonts: -apple-system, BlinkMacSystemFont, "Segoe UI",
                  Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
                  "Helvetica Neue", sans-serif;
}
/*
 * Reset
 * =====
 */
* {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
}

input, button, textarea {
  font: inherit;
}

img {
  max-width: 100%;
}
/*
 * Base
 * ====
 */
html {
  font-size: 100%;
  line-height: var(--baseline);
	font-family: var(--system-fonts);
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  background: none;
}

@media (max-width: 40em) {
  html {
    font-size: 87.5%;
  }
}

@media (max-width: 30em) {
  html {
    font-size: 62.5%
  }

  .word-mark {
    padding-bottom: 7em;
  }
}
/*
 * Home
 * ====
 */
.structure {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
 }

.nav {
  align-self: flex-start;
  margin: var(--baseline);
 }

 .word-mark {
  align-self: flex-end;
  margin: var(--baseline);
 }

.elyxel {
  font-weight: 100;
  letter-spacing: 0.075em;
  font-size: 2rem;
}

a {
  font-size: .75em;
  text-decoration: none;
  color: var(--text-color);
}

a:hover{
  opacity: .6;
}

.sign-in-button {
  border: 1px solid var(--smoke-color);
  padding: 0.3rem 1rem;
}

svg {
  width: 100%;
  height: 100%;
  position: absolute;
}

.strike {
  stroke-dasharray: 3000;
  stroke-dashoffset: 3000;
  animation: draw 1s linear alternate forwards;
}

@keyframes draw {
  from {
    stroke-dashoffset: 3000;
  }
  to {
    stroke-dashoffset: 0;
  }
}
/*
 * Login / Reset
 * =============
 */
.form-wrap {
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
}

form {
  margin: 0 auto;
}

input {
  -webkit-appearance: none;
  appearance: none;
}

input[type=text],
input[type=password] {
  display: block;
  width: 100vw;
  margin: var(--baseline) 0;
  border: 1px solid var(--smoke-color);
  border-width: 0 0 1px 0;
  text-align: center;
}

.form-controls {
  text-align: right;
  margin: 0 var(--baseline);
}

.forgot-pass {
  color: var(--slate-color);
  font-size: .75em;
}

.forgot-pass:hover {
  color: var(--text-color);
}

input:focus {
  outline: none;
  border-bottom: 1px solid var(--text-color);
}

::-webkit-input-placeholder {
  color: var(--slate-color);
  font-weight: 100;
}

input[type=submit] {
  font-size: .75em;
  border: 1px solid var(--smoke-color);
  padding: 0 1rem;
  background: none;
  cursor: pointer;
  margin: 0.1rem var(--baseline);
}

input[type=submit]:hover {
  opacity: .6;
}

.notifications {
  text-align: center;
  width: 100vw;
  background: var(--salmon-color);
  color: var(--white-color);
  vertical-align: middle;
}