/*
 * Variables
 * =========
 */
:root {
  --baseline: 1.7778rem;

  --text-color: #434648;
  --slate-color: #949494;
  --smoke-color: #D8DEE3;
  --midnight-color: #0D2434;
  --white-color: #FFFFFF;
  --salmon-color: #EA4C50;

  --system-fonts: -apple-system, BlinkMacSystemFont, "Segoe UI",
                  Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
                  "Helvetica Neue", sans-serif;
}
/*
 * Reset
 * =====
 */
* {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
}

input, button, textarea {
  font: inherit;
}

img {
  max-width: 100%;
}
/*
 * Base
 * ====
 */
html {
  font-size: 100%;
  line-height: var(--baseline);
	font-family: var(--system-fonts);
  -webkit-font-smoothing: antialiased;
  background: none;
}

  @media (max-width: 40rem) {
    html {
      font-size: 87.5%;
    }
  }

  @media (max-width: 30rem) {
    html {
      font-size: 62.5%
    }
  }
/*
 * Home
 * ====
 */
.wrap {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
 }

.nav {
  align-self: flex-start;
  padding: 1em;
 }

 .word-mark {
  align-self: flex-end;
  padding: 1em;
 }

.elyxel {
  font-weight: 100;
  letter-spacing: 0.075em;
}

a {
  font-size: .75em;
  text-decoration: none;
  color: var(--text-color);
}

.login-button {
  border: 1px solid var(--smoke-color);
  padding: 0.3em 1em;
  border-radius: 1em;
}

svg {
  width: 100%;
  height: 100%;
  position: absolute;
}

.strike {
  stroke-dasharray: 3000;
  stroke-dashoffset: 3000;
  animation: draw 2s linear alternate forwards;
}

@keyframes draw {
  from {
    stroke-dashoffset: 3000;
  }
  to {
    stroke-dashoffset: 0;
  }
}
/*
 * Login
 * =====
 */
.login-wrap {
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
}

form {
  margin: 0 auto;
}

input[type=text],
input[type=password] {
  display: block;
  width: 100vw;
  margin: 2em 0;
  border: 1px solid var(--smoke-color);
  border-width: 0 0 1px 0;
  text-align: center;
}

.login-controls {
  text-align: right;
}

.forgot-pass {
  color: var(--slate-color);
  padding: 0 2rem;
  font-size: .75em;
}

.forgot-pass:hover {
  color: var(--text-color);
}

input:focus {
  outline: none;
  border-bottom: 1px solid var(--text-color);
}

::-webkit-input-placeholder {
  color: var(--slate-color);
  font-weight: 100;
  letter-spacing: 0.075em;
}

input[type=submit] {
  font-size: .75em;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background: var(--midnight-color);
  color: var(--white-color);
  padding: 0.3em 3em;
  border-radius: 2em;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  opacity: .9;
}

.notifications {
  text-align: center;
  width: 100vw;
  background: var(--salmon-color);
  color: var(--white-color);
  vertical-align: middle;
}
