<%= render "wire.html", wire: @wire, conn: @conn, current_user: @current_user %>

<%= render "comment.html", wire: @wire, changeset: @changeset, action: wire_wire_path(@conn, :comment, @wire.id), conn: @conn %>

<%= render "comments.html", wire: @wire %>