  <%= for wire <- @wires do %>
	  <article>
	  	<h2 class="p"><a href="<%= wire.link %>"><%= wire.title %></a></h2>
	  	<p><%= wire.link %></p>
	  	<p><%= wire.context %></p>
	  	<p><%= wire.user.username %></p>
	  	<p><%= simple_time wire.inserted_at %></p>
	  </article>
  <% end %>

