  <%= for wire <- @wires.list do %>
  	<%= render "wire.html", wire: wire, conn: @conn %>
  <% end %>
  <%= if @wires[:has_next?] do %>
  	<a href="<%= wire_path(@conn, :recent, p: next_page @wires.current_page) %>">>></a>
  <%= end %>



